<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>課題作成 | 課題管理アプリケーション</title>
</head>
<body>
<h1 class="mt-3">課題作成</h1>
<form action="#" th:action="@{/memories}" th:method="post" th:object="${data}" enctype="multipart/form-data">
    <div class="mt-3">
        <label for="titleInput" class="form-label">タイトル</label>
        <input type="text" id="titleInput" th:field="*{title}" class="form-control"
               th:classappend="${#fields.hasErrors('title')} ? is-invalid">
        <p class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">(error)</p>
    </div>
    <div class="mt-3">
        <label for="descriptionInput" class="form-label">思い出の詳細</label>
        <textarea id="detailsInput" rows="10" th:field="*{details}" class="form-control"
                  th:classappend="${#fields.hasErrors('details')} ? is-invalid"></textarea>
        <p class="invalid-feedback" th:if="${#fields.hasErrors('details')}" th:errors="*{details}">(error)</p>
    </div>
    <div class="mt-3 col-md-3">
        <label for="fileUpload" class="form-label">画像</label>
        <input type="file" id="fileUpload" th:field="*{file}" class="form-control"
                  th:classappend="${#fields.hasErrors('file')} ? is-invalid">
        <p class="invalid-feedback" th:if="${#fields.hasErrors('file')}" th:errors="*{file}">(error)</p>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">作成</button>
        <a href="./list.html" th:href="@{/memories}" class="btn btn-secondary">キャンセル</a>
    </div>
</form>
</body>
</html>