<nav th:fragment="navbar" class="mt-3" style="display: flex; justify-content: flex-end; padding:10px 100px 10px 10px; background-color: #f8f9fa;">
    <ul style="display: flex; list-style: none; gap: 20px;">
        <li><a th:href="@{/news}">ホーム</a></li>
        <li th:if="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{/admin/genres}">ジャンル一覧</a></li>
        <li th:if="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{/admin/plans}">プラン一覧</a></li>
        <li th:if="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''USER'')')}"><a th:href="@{/memories}">思い出</a></li>
        <li th:if="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''USER'')')}"><a th:href="@{/admin/subscriptions/{id}(id=${#authentication.principal.id})}">契約プラン</a></li>
        <li th:if="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{/admin/users}">ユーザー一覧</a></li>
        <li th:if="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''USER'')')}"><a th:href="@{/admin/users/{id}(id=${#authentication.principal.id})}">プロファイル</a></li>
        <li><a th:href="@{/inquiries}">問合せ</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">ログイン</a></li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">ログアウト</a>
            <!--   >form th:action="@{/logout}" method="post">
                <button type="submit">ログアウト</button>
            </form -->
        </li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/signup}">サインアップ</a></li>
    </ul>
</nav>